<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Главная страница</h1>
    <a href="{% url 'return-to-purchases' %}">Покупки|</a>
    <a href="{% url 'return-to-basket' %}">Корзина|</a>
    <a href="{% url 'return-to-products' %}">Продукты|</a>
    <a href="{% url 'return-to-locations' %}">Места хранения |</a>
    <a href="{% url 'return-to-types' %}">Типы продуктов</a>
</body>
</html>