<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупки</title>
</head>
<body>
    <a href="{% url 'return-to-purchases' %}">Покупки|</a>
    <a href="{% url 'return-to-basket' %}">Корзина|</a>
    <a href="{% url 'return-to-products' %}">Продукты|</a>
    <a href="{% url 'return-to-locations' %}">Места хранения |</a>
    <a href="{% url 'return-to-types' %}">Типы продуктов</a>
    <h1>Поиск по месту</h1>
    <h2>{{location}}</h2>
    <table bordercolor="black" border="1" width="50%">
        <tr>
          <td>Продукт</td>
          <td>Дата покупки</td>
          <td>Срок годности</td>
          <td>Количество</td>
          <td>Место хранения</td>
          <td>Комментарий</td>
          <td colspan="2"> Действия</td>
        </tr>
        {% for product in products %}
            <tr>
              <td>{{ product.name.name }}</td>
              <td>{{ product.purchase_date }}</td>
              <td>{{ product.expiration_date }}</td>
              <td>{{ product.number }}</td>
              <td>{{ product.location }}</td>
              <td>{{ product.comment }}</td>
              <td><a href="{% url 'delete-purchase' product.id %}">Удалить</a></td>
            <td><a href="{% url 'edit-purchase' product.id %}">Редактировать</a></td>
            </tr>
        {% endfor %}
        </table>
</body>
</html>